version: "3.6"
services:
  main:
    env_file: .env
    image: gcr.io/seansdevnote/page
    build:
      context: .
      args:
        GIT: $GIT
        OAUTH: $OAUTH
        SERVICE_ACCOUNT: $SERVICE_ACCOUNT
        ALGOLIA: $ALGOLIA
        TEST: $TEST
