* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
}

p {
  white-space: nowrap;
}

@font-face {
  font-family: "Nanum";
  src: url("font/NanumSquare_acB.ttf");
  src: url("font/NanumSquare_acEB.ttf");
  src: url("font/NanumSquare_acL.ttf");
  src: url("font/NanumSquare_acR.ttf");
  font-family: "gotham";
  src: url("font/GothaProBol.otf");
  src: url("font/GothaProBla.otf");
  src: url("font/GothaProMed.otf");
  src: url("font/GothaProLig.otf");
}

blockquote {
  border-left: 0.25em solid gray !important;
  padding: 0 1em !important;
  color: gray !important;
  margin: 1em 0.5em 0.5em 0em;
}

.btn {
  height: 20px;
  display: inline-block;
  padding: 0 15px;
  color: gray !important;
}
.btn:hover {
  color: black !important;
  font-weight: bold;
}

/* LEFT MENU */

.left {
  display: inline-block;
  width: 500px;
}

.right {
  display: inline-block;
  color: dimgray;
}

/* RIGHT CONTENT */
.content {
  width: 100%;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  overflow-x: visible;
}

.content-head {
  height: 70px;
  text-align: center;
}

.content-head-doc_id {
  font-family: "gotham", sans-serif;
  color: rgb(85, 85, 85);
  text-decoration: unset;
  font-weight: bolder;
  font-size: 17px;
  padding: 4px 20px 4px 20px;
  margin: 30px 10px 0 0;
  display: inline-block;
  margin: auto;
  border-radius: 30px;
}

.content-head-doc_id:hover {
  color: black;
  font: bold;
}

.content-head-doc_id.current {
  color: #5fbe74;
}

.content-login {
  width: 100%;
  text-align: right;
}

.content-login-link {
  text-decoration: unset;
  color: #1a73e8;
  padding: 10px 10px 10px 10px;
}

.content-body {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.2px;
  text-rendering: optimizeLegibility;
  color: #333;
}

.content-body h2 {
  margin: 0.83em 0;
}

.gist-file {
  width: 1000px;
}

.gist-meta {
  padding-bottom: 0 !important;
}

.gist-toggler {
  display: inline-block;
  height: 23px;
}

.gist-toggler.current {
  color: #5fbe74 !important;
}

.gist-toggler:hover {
  color: black !important;
  font-weight: bold !important;
}
